<div class="topbar">
	<div class="topbar-inner">
		<div class="container-fluid">
			<a class="brand" href="/">CentLog</a>
			<ul class="nav">
				<li class="active">
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/about">About</a>
				</li>
				<li>
					<a href="/contact">Contact</a>
				</li>
			</ul>
			<ul class="secondary-nav">
				
				<li class="menu">
					<%= render 'devise/menu/registration_items' %>
					<%= render 'devise/menu/login_items' %>
					<br/>
				</li>
			</ul>
		</div>
	</div>
</div>