<div class="page-header">
	<h1> About <small>CentLog - you will never use any other website to track your expenses :)<small></h1>
</div>
<style>
	.big {
		font-size: 16px;
		font-weight: bold;
		font-style: italic;
	}
</style>
<div class="row">
	<div class="span16">
		<p class='big'>
			“CentLog” is a web application that provides a simple and elegant way to keep track of day to day expenses which
			boasts of features such as shared expense, alerts, and tracking your kids or others expenses. Also,
			it’s mobile!
		</p>
		<p>
			The website has the following features :
			<li>
				<b>It's mobile! Tracking can be done as and when you spend by a simple entry on a phone</b>
			</li>
			<br />
			<li>
				<b>Family and groups oriented. Provides for tracking a groups expense. Think Google Circles for expense
				tracking</b>
			</li>
			<br />
			<li>
				<b>Parents can track expenses of their kids, with a twitter like notification mechanism.</b>
			</li>
			<br />
			<li>
				<b>Track future and repeated expenses - can show upcoming bills</b>
			</li>
			<br />
			<li>
				<b>Statistics and graphs - provide deeper knowledge of the past and future expenses in a simple and easy to
				understand view.</b>
			</li>
			<br />
			<li>
				<b>Tagging expenses (such as food, miscellaneous etc.) and tracking personal expenses.</b>
			</li>
		</p>
	</div>
</div>
