<div class="page-header">
	<h1> <%= @title %> us </h1>
</div>

<div class="row">
	<div class="span16">
		<h3>Ashwin Das</h3>
		MSIT-Mobility, Information Networking Institute, Carnegie Mellon University<br />
		<i>achikker@andrew.cmu.edu</i>
		<br /><br />
		<h3>Sushil Rangarajan</h3>
		MSIN, Information Networking Institute, Carnegie Mellon University<br />
		<i>sushilr@andrew.cmu.edu</i>
	</div>
</div>
